<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cereus tetragonus</title>
    <meta name="description" content="Enterate antes que nadie todas las curiosidades sobre la variedad Cereus tetragonus.">
    <meta name="keywords" content="CATALOGO, CACTUS, SUCULENTAS, NOTICIAS, CUIDADO, Cereus tetragonus">

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/estilos.css">

    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">

    <!-- íconos -->
    <script src="https://kit.fontawesome.com/0e1135eec9.js" crossorigin="anonymous"></script>

  </head>

<body>
   
<!-- Menu -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="../index.html"><img src="../img/HP-logo-01.png" alt="logo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="../index.html">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/historia.html">Nuestra historia</a>
      </li>
     <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="../views/catalogo.html" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Catálogo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="../views/cereus tetragonus.html">Cereus tetragonus<span class="sr-only">(current)</span></a>
          <a class="dropdown-item" href="../views/haworthia cymbiformis.html">Haworthia cymbiformis</a>
          <a class="dropdown-item" href="../views/graptoveria titubans.html">Graptoveria titubans</a>
          <a class="dropdown-item" href="../views/sedum emarginatum.html">Sedum emarginatum</a>
          <a class="dropdown-item" href="../views/lophophora.html">Lophophora</a>
          <a class="dropdown-item" href="../views/astrophytum.html">Astrophytum</a>
          <a class="dropdown-item" href="../views/sedum morganianum.html">Sedum morganianum</a>
          <a class="dropdown-item" href="../views/crassula ovata.html">Crassula ovata</a>
        </div>
      </li>
      <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link" href="../views/novedades.html">Novedades</a>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="../views/contacto.html">Contacto</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Quiero saber sobre..." aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
    </form>
  </div>
</nav>


<!--Slider-->
<img class="slide" src="../img/Cereus tetragonus.png" alt="Cereus tetragonus">

<br><br>

<div>
  <h2 class="titulo-nov">Cereus tetragonus</h2>
</div>

<!--Tabla características-->
<div class="tabla">
<table class="table table-sm">
  <tbody>
    <tr>
      <th scope="row">Tipo de cultivo</th>
      <td>En exterior o en interior solo plantas jóvenes.</td>
    </tr>
    <tr>
      <th scope="row">Riego</th>
      <td>Necesita un poco más de agua que la típica suculenta.</td>
    </tr>
  <tr>
    <th scope="row">Tamaño</th>
    <td>Hasta unos 120 cm. (alto) y 20 cm. (roseta)</td>
  </tr>
<tr>
  <th scope="row">Flores</th>
  <td>Amarillas en grandes grupos en forma de cono.</td>
</tr>
<tr>
<th scope="row">Resistencia</th>
<td>Resiste bien temperaturas ligeramente bajo cero de forma ocasional.</td>
</tr>
<tr>
<th scope="row">Propagación</th>
<td>Por esquejes del tallo.</td>
</tr>
<tr>
  <th scope="row">Temporada</th>
  <td>Crece activamente en primavera y otoño.</td>
  </tr>
  </tbody>
</table>
</div>

<br><br>


<!--Footer-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h4 class="titulo-footer">Sobre nosotros</h4>
        <p class="p-footer">Somos una pequeña empresa argentina dedicada al cuidado de estas plantitas. Nacimos de un pensamiento que se convirtió en un sueño hecho realidad: trabajar de lo que nos apasiona.</p>
      </div>
      <div class="col-sm">
        <h4 class="titulo-footer">Menú</h4>
          <ul>
          <li class="linkNav"></li>
          <li><a class="linkNav linkNavTexto" href="../index.html">Inicio</a></li>
          <li><a class="linkNav linkNavTexto" href="../views/historia.html">Nuestra historia</a></li>
          <li><a class="linkNav linkNavTexto" href="../views/catalogo.html">Catálogo</a></li>
          <li><a class="linkNav linkNavTexto" href="../views/novedades.html">Novedades</a></li>
          <li><a class="linkNav linkNavTexto" href="../views/contacto.html">Contacto</a></li>
        </ul>  
      </div>
      <div class="col-sm">
        <h4 class="titulo-footer">Seguinos en redes</h4>
        <i class="fab fa-facebook"></i> <i class="fab fa-instagram"></i> @hocuspocus.ar
      <br><br><br>
      <h4 class="titulo-footer">¡ESCRIBINOS!</h4>
      <i class="far fa-envelope"></i> hola@hocuspocus.net.ar
      
      </div>
      </div>
    </div>
  </div>
  </div>

<!-- Copyright -->
<p class="copyright">
  Cactus & Suculentas Copyright 2021 // Todos los derechos reservados
</p>

 </body>

 <!-- JS -->
 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</html>